@import '../../../styles/settings';

.label {
  color: $dark;
  margin: 0 2px;
  min-width: 60px;
  line-height: 1.4;
}

.options {
  min-width: 110px;
  background-color: white;
  padding: 5px 0 10px 5px;
}

.option {
  cursor: pointer;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $primary-color;
  }

  &.optionSelected {
    color: rgba($dark, 0.5);
  }
}
