$font-family-1: 'PierSans', sans-serif;

// Font sizes
$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-m: 19px;
$font-size-l: 24px;
$font-size-xl: 44px;
$font-size-xxl: 54px;

//font-weights
$font-weight-light: 300;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

// Colors
$dark: #0a212e;
$white: #fff;
$dark-gray: #495a64;
$gray: #adb5b9;
$light-gray: #eff3f5;
$turquoise: #18bab4;
$redonrange: #ea573f;

/* THEME COLORS */

// Buttons
$primary-color: $turquoise;
$primary-color-hover: #1cd4ce;
$secondary-color: $redonrange;
$secondary-color-hover: #ff6952;

$icon-color: $dark;
$border-color: $gray;

// Texts
$text-color-dark: $dark;
$text-color-secondary: $gray;
$text-color-light: $white;

// Backgrounds
$bg-color-dark: $dark;
$bg-color-secondary: $light-gray;
$bg-color-light: $white;

//z indexes
$zforeground: 10;

