@import '../../styles/settings.scss';

$close-position: 35px;
$modal-padding: 35px;

.modal {
  position: relative;
  top: 0;
  left: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  max-height: none;
  max-width: 80%;
  height: calc(100vh - 20vh);
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $bg-color-dark;
  z-index: 21;
  border: none;
  outline: none;
  border-radius: 0;
}

.header {
  background-color: $bg-color-dark;
  padding: $modal-padding;
  padding-bottom: 0;
  min-height: 95px;
  border-bottom: solid 1px $border-color;
}

.modalContent {
  flex: 1;
  color: $text-color-light;
  overflow: auto;
  padding: $modal-padding;
  word-break: break-word;
  overscroll-behavior: none; /* stylelint-disable-line property-no-unknown */
}

.closeIcon {
  fill: $text-color-light;
}

.closeBtn {
  position: absolute;
  width: 33px;
  height: 33px;
  right: $close-position;
  top: $close-position;
  background-color: $primary-color;
  border: solid 1px $primary-color;
  z-index: 20;
}

:global .ReactModal__Body--open {
  overflow: hidden;
}
