@import '../../styles/settings';

.cardWrapper {
  padding: 30px 30px 10px;
  background-color: $white;
  margin-bottom: 4px;
}

.cardContent {
  overflow: hidden;
  height: 55px;
  transition: all 0.3s;
  font-family: 'PierSans', sans-serif;

  .groupTitle {
    font-size: 20px;
  }

  &.open {
    height: auto;
    overflow: inherit;
  }
}

.toggleButton {
  padding: 0;
  width: 14px;
  height: 14px;
  box-shadow: none;
  border: none;

  &:hover {
    box-shadow: none;
  }
}

.headerContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.icon {
  transform: rotate(90deg);
  fill: $turquoise;
}

.iconCollapse {
  transform: rotate(270deg) translate(-3px, -2px);
  fill: $turquoise;
}
